@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto+Mono:wght@300&display=swap');

:root{
    --font-family: 'Roboto Mono', monospace;
    --bg-color: #293462;
    --primary-color: #1CD6CE;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);

}

h1{
    font-size: 4em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;

}

.box{
    display: inline-block;
    font-size: 4em;
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin: 20px;
    
}